# Node modules
node_modules/

# Build output
dist/
build/

# Documentation
docs/

# Logs
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Environment files
.env

# IDE files
.vscode/
.idea/

# JSDoc output
out/

# Temporary files