* {
    margin: 0;
    padding: 0;
    position: relative;
    scroll-behavior: smooth;
    box-sizing: border-box;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background: url(./img/5_background/background_body.webp);
    background-size: cover;
    background-position: center;
}

canvas {
    margin: 25px;
    background-color: black;
}
